API_TOKEN=                                                                                                                                                                                 
REDIS_URL=redis://localhost:6379                                                                                                                                                                                           
RATE_API_URL=http://localhost:8080/pricing                                                                                                                                                                                 
LOG_LEVEL=DEBUG